body {
  font-family: arial;
  background-image: linear-gradient(to right, red, darkred, black);
  color: powderblue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-image: linear-gradient(to right, red, darkred, black);
  height: 100px;
  width: 100px;
  color: powderblue;
}

#mm {
  color: powderblue;
  background-color: powderblue;
}
